<% include ../layout/header.ejs %>
<% include ../layout/menu-left.ejs %>
<% include ../layout/top.ejs %>
<!-- Content administrator -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Danh sách baner</h5>
                    <div class="ibox-tools">
                        <a href="/admin/banner/add" class="btn btn-success btn-plus" type="button"><i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">Thêm</span></a>
                        <a href="javascript:void(0)" id="deleteManyBanner" class="btn btn-danger btn-plus" type="button"><i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">Xóa</span></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <% if(success_msg != ''){ %>
                        <div class="alert alert-success">
                            <%= success_msg%>
                        </div>
                        <% } %>
                        <% if(error_msg != ''){ %>
                        <div class="alert alert-danger">
                            <%= error_msg%>
                        </div>
                        <% } %>
                        <input type="hidden" name="id[]" value="">
                        <table id="banner-table" class="table table-striped table-bordered table-hover dataTables-category">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><input type="checkbox" id="checkboxall" class="checkboxAdminProduct"></th>
                                    <th>Tên </th>
                                    <th>Ảnh</th>
                                    <th>Thứ tự</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var dem=1;%>
                                <% data.forEach(function(item){ %>
                                <tr>
                                    <td>
                                        <%=dem%>
                                    </td>
                                    <td><input type="checkbox" id="<%=item.id%>" class="i-checks checkboxAdminProduct" name="name[]" value="<%=item.id%>"></td>
                                    <td>
                                        <%=item.name%>
                                    </td>
                                    <td>
                                        <img src="/upload/banner/<%=(item.image)?item.image:'no-image.png'%>" alt="news" width="50px">
                                    </td>
                                    <td>
                                        <%=item.number%>
                                    </td>
                                    <td>
                                        <%if(item.status==true){%>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-rounded">Hoạt động</a>
                                        <%}else{%>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-rounded">Tạm ngừng</a>
                                        <%}%>
                                    </td>
                                    <td class="text-center">
                                        <a href="/admin/banner/edit/<%=item.id%>" title="Sửa"> <i class="fa fa-edit color-navi fa-lg"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" onclick="delBanner('<%=item.id%>')" title="Xóa ">
                                            <i class="fa fa-trash color-red fa-lg "></i></a>
                                    </td>
                                </tr>
                                <% dem++;})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content administrator -->
<% include ../layout/footer.ejs %>
<script src="/themes/backend/js/plugins/dataTables/datatables.min.js "></script>
<script>
    function delBanner(id) {
        var arrId = [id];
        var rep = confirm("Bạn có chắc chắn muốn xóa banner này?");
        if (rep == true) {
            $.ajax({
                url: '/admin/banner/del',
                type: 'POST',
                contentType: 'application/json',
                dataType: "json",
                data: JSON.stringify(arrId),
                success: function (response) {
                    if (response.status == 1) {
                        alert('Đã xóa thành công.');
                        location.reload();
                    } else {
                        alert(response.msg);
                    }
                }
            });
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('.dataTables-category').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons "B>lTfgitp',
            buttons: [{
                extend: 'copy',
                className: 'btn btn-info'
            }, {
                extend: 'csv'
            }, {
                extend: 'excel',
                title: 'ExampleFile'
            }, {
                extend: 'pdf',
                title: 'ExampleFile'
            }, {
                extend: 'print',
                customize: function (win) {
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');
                    $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                }
            }]
        });
        ///////////////////Check box//////////////
        $("#checkboxall").change(() => {
            var checkboxes = document.getElementsByName('name[]');
            var checkboxall = document.getElementById('checkboxall');
            var chkBox = checkboxall.checked;
            // alert(chkBox);
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = chkBox;
            }
        });
        /////////////////////////////////DELETE Many Categories//////////////////////////////////
        $("#deleteManyBanner").click(function () {
            var banner_arr = [];
            $("#banner-table input[type=checkbox]").each(function () {
                if ($(this).is(":checked")) {
                    var id = $(this).attr("id");
                    banner_arr.push(id);
                }
            });
            if (banner_arr.length > 0) {
                var rep = confirm("Bạn có chắc chắn muốn xóa các banner đã chọn?");
                if (rep == true) {
                    $.ajax({
                        url: "/admin/banner/del",
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(banner_arr),
                        success: function (response) {
                            if (response.status == true) {
                                alert("Đã xóa thành công.");
                                location.reload();
                            } else {
                                alert("Lỗi: " + response.msg);
                            }
                        }
                    });
                }
            } else {
                alert("Không có banner nào được chọn để xóa");
            }
        });
    });
</script>