<!DOCTYPE html>
<html lang="vi">

<head>
    <title>
        <%=title%> | Goxinh.net - Đồ gỗ nội thất
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%=descriptions%>">
    <meta name="author" content="woodenvina">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%=descriptions%>" />
    <meta name="news_keywords" content="<%=descriptions%>" />
    <meta property="og:title" content="<%=title%> | Goxinh.net - Đồ gỗ nội thất" />
    <meta property="og:description" content="<%=descriptions%>" />
    <meta name="language" content="vietnamese" />
    <meta name="copyright" content="Copyright © WOODENVINA" />
    <meta name="abstract" content="GOXINH.NET Website Chuyên Bán Nội Thất Gỗ Xinh Chất Lượng,Uy Tín." />
    <meta name="distribution" content="Global" />


    <link rel="icon" href="/themes/img/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/themes/css/responsive.css">
    <link rel="stylesheet" href="/themes/css/styles.css">
    <link rel="stylesheet" href="/themes/css/bootstrap.min.css">
    <link rel="stylesheet" href="/themes/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/css/goxinh.css">
    <link rel="stylesheet" href="/themes/css/goxinh-v2.css">
    <script src="/themes/js/jquery.min.js" type="text/javascript"></script>
    <script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/themes/js/jssor.slider-26.7.0.min.js" type="text/javascript"></script>
    <script src="/themes/js/goxinh.js" type="text/javascript"></script>


</head>

<body class="" cz-shortcut-listen="true">
    <div class="header">
        <div class="wrap-main">
            <a class="logo" title="Về trang chủ goxinh.net" href="/">
                <!-- <i class="icontgdd-logo"></i> -->
                <img src="/images/logo.png" alt="">
            </a>
            <form id="search-site" method="get" action="/tim-kiem" onsubmit="return submitSearchForm();" autocomplete="off">
                <input type="text" class="topinput" placeholder="Bạn tìm gì..." name="search" value="" autocomplete="off" maxlength="50">
                <button type="submit" class="btntop" aria-label="tìm kiếm"><i class="icontgdd-topsearch"></i></button>
            </form>
            <!-- <form id="search-site" action="/tim-kiem" method="get" onsubmit="return submitSearchForm();" autocomplete="off">
                <input class="topinput" name="key" type="text" aria-label="Bạn tìm gì..." placeholder="Bạn tìm gì..." autocomplete="off" maxlength="50">
                <button class="btntop" type="submit" aria-label="tìm kiếm"><i class="icontgdd-topsearch"></i></button>
            </form> -->
            <nav>
                <a href="/danh-muc/noi-that-phong-khach" class="phongkhach" title="=Phòng khách">
                    <i class="icontgdd-mobile"></i>Phòng khách
                </a>
                <a href="/danh-muc/noi-that-phong-ngu" class="phongngu" title="Phòng ngủ">
                    <i class="icontgdd-tablet"></i>Phòng ngủ
                </a>
                <a href="/danh-muc/noi-that-nha-bep" class="nhabep" title="Nhà bếp">
                    <i class="icontgdd-laptop"></i>Nhà bếp
                </a>
                <a href="/danh-muc/trang-tri-ham-ruou" class="hamruou" title="Hầm rượu">
                    <i class="icontgdd-phukien"></i>Hầm rượu
                </a>
                <a href="/danh-muc/do-go-xuat-khau" class="dogoxuatkhau" title="Đồ gỗ xuất khẩu">
                    <i class="icontgdd-phukien"></i>Đồ gỗ xuất khẩu
                </a>
                <a href="/danh-muc/noi-that-phong-tho" class="cardsim">Phòng thờ</a>
                <a href="/lien-he" class="utility">Liên hệ</a>
            </nav>
        </div>
    </div>
    <!-- <script>
        $(document).ready(() => {
            function submitSearchForm() {
                if ($('#search-keyword').val() == '') {
                    alert('123');
                    return false;
                } else {
                    return true;
                }
            }
        })
    </script> -->
    <div class="section">