<!DOCTYPE html>
<html lang="vi">

<head>
    <title>
        <%=title%> | Goxinh.net - Đồ gỗ nội thất </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%=descriptions%> Gỗ Xinh,Gỗ nội thất,gỗ xuất khẩu,Đồ gỗ nội thất,nội thất trang trí,goxinh.net">
    <meta name="author" content="woodenvina">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="keywords" content="<%=descriptions%> , ke go xinh, ke go noi that, noi that go xinh, go noi that, gỗ nội thất uy tín, kệ gỗ nội thất,kệ gỗ xinh, nội thất gia đình" />
    <meta name="news_keywords" content="<%=descriptions%>" />
    <meta property="og:title" content="<%=title%> | Goxinh.net - Đồ gỗ nội thất" />
    <meta property="og:description" content="<%=descriptions%>" />
    <meta name="language" content="vietnamese" />
    <meta name="copyright" content="Copyright © WOODENVINA" />
    <meta name="abstract" content="GOXINH.NET Website Chuyên Bán Nội Thất Gỗ Xinh Chất Lượng,Uy Tín." />
    <meta name="distribution" content="Global" />
    <link rel="icon" href="/themes/img/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/themes/css/responsive.css">
    <link rel="stylesheet" href="/themes/css/styles.css">
    <link rel="stylesheet" href="/themes/css/bootstrap.min.css">
    <link rel="stylesheet" href="/themes/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/css/goxinh.css">
    <link rel="stylesheet" href="/themes/css/goxinh-v2.css">
    <link rel="stylesheet" href="/themes/lightslider/lightslider.css">
    <script src="/themes/js/jquery.min.js" type="text/javascript"></script>
    <script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/themes/js/jssor.slider-26.7.0.min.js" type="text/javascript"></script>
    <script src="/themes/js/goxinh.js" type="text/javascript"></script>
    <script src="/themes/lightslider/lightslider.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130094515-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130094515-1');
    </script>
</head>

<body class="" cz-shortcut-listen="true">
    <div id="wapper-menu-header" class="box-left">
        <div class="box-menu-header">
            <div class="box-home-search-header">
                <a class="logo" title="Về trang chủ goxinh.net" href="/">
                    <img src="/images/logo.png" alt="">
                </a>
                <form id="search-site" method="get" action="/tim-kiem" onsubmit="return submitSearchForm();"
                    autocomplete="off">
                    <input type="text" class="topinput" placeholder="Bạn tìm gì..." name="search" value="" autocomplete="off"
                        maxlength="50">
                    <button type="submit" class="btntop" aria-label="tìm kiếm"><i class="icontgdd-topsearch"></i></button>
                </form>
            </div>
            <div id="menu">
                <ul>
                    <li class=""> <a href="/danh-muc/noi-that-phong-khach" class="phongkhach" title="=Phòng khách">
                            <img class="icon-menu-parent" src="/images/2_icon_phongkhach_edit.png" alt="Phòng khách">
                            Phòng khách </a></li>
                    <li> <a href="/danh-muc/noi-that-phong-ngu" class="phongngu" title="Phòng ngủ">
                            <img class="icon-menu-parent" src="/images/4_icon_phongngu_edit.png" alt="Phòng ngủ">Phòng
                            ngủ </a></li>
                    <li> <a href="/danh-muc/noi-that-nha-bep" class="nhabep" title="Nhà bếp">
                            <img class="icon-menu-parent" src="/images/5_icon_nhabep_edit.png" alt="Nhà bếp">Nhà bếp
                        </a></li>
                    <li> <a href="/danh-muc/trang-tri-ham-ruou" class="hamruou" title="Hầm rượu">
                            <img class="icon-menu-parent" src="/images/3_icon_hamruou_edit.png" alt="Hầm rượu"> Hầm
                            rượu </a></li>
                    <li> <a href="/danh-muc/do-go-xuat-khau" class="dogoxuatkhau" title="Đồ gỗ xuất khẩu">
                            <img class="icon-menu-parent" src="/images/6_icon_goxuatkhau_edit.png" alt="Gỗ xuất khẩu">Đồ
                            gỗ xuất khẩu </a></li>
                    <li> <a href="/danh-muc/noi-that-phong-tho" class="phongtho">
                            <img class="icon-menu-parent" src="/images/1_icon_phongtho_edit.png" alt="Phòng thờ"> Phòng
                            thờ </a></li>
                    <li> <a href="/lien-he" class="lienhe">
                            <img class="icon-menu-parent" src="/images/7_icon_lienhe_edit.png" alt="Liên hệ"> Liên hệ
                        </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section">