<% include ../font-end/layout/banner.ejs %>
<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->

<div class="title-box-sp-home">
    <div class="controls pull-right hidden-xs">
        <!-- <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success"
            href="#carousel-example" data-slide="next"></a> -->
    </div>
    <!-- <div class="text-title-sp-home">
        <h1>Sản phẩm bán mới</h1>
    </div> -->

</div>

<div class="box-sanpham-new carousel slide " id="carousel-example" data-ride="carousel">
    <ul id="box-product-new-home">
        <%if(dataProductNew.length>0){ dataProductNew.forEach(function(item,index){%>
        <li>
            <div class="item-sanpham-new ">
                <a href="/san-pham/<%=item.aliasUrl%>" class="link-item-sp">
                    <div class="box-img-sanpham">
                        <img src="/upload/product/<%=item.codeProduct%>/<%=item.imageProduct%>" class="thumbnail-img"
                            alt="<%=item.nameProduct%>" title="<%=item.nameProduct%>">
                    </div>
                    <div class="sp-it-footer">
                        <div class="sp-it-ft-name">
                            <h3>
                                <%=item.nameProduct%>
                            </h3>
                        </div>
                        <div class="sp-it-ft-price">
                            <span class="txt-gia-sp">Giá: </span> <span class="thumbnail-gia-sp">
                                <%=item.priceProduct.toLocaleString({ style: 'currency', currency: 'VND' });%>
                            </span>₫
                        </div>
                    </div>

                </a>
            </div>
            <div style="float:none;clear:both"></div>
        </li>
        <%})}%>
    </ul>

</div>
<div class="title-box-sp-home text-center">
    <div class="text-title-sp-home">
        <h1><img src="/themes/img/sp-banchay.jpg" alt="Sản phẩm bán chạy"></h1>
    </div>

</div>

<div class="box-sanpham">
    <%if(dataProduct.length>0){ dataProduct.forEach(function(item,index){%>
    <%-(index>0 && index%5===0) ? `<div style="float:none;clear:both"></div>`: ''; %>
    <div class="item-sanpham">
        <a href="/san-pham/<%=item.aliasUrl%>" class="link-item-sp">
            <div class="box-it-sp">
                <div class="box-img-sanpham">
                    <img src="/upload/product/<%=item.codeProduct%>/<%=item.imageProduct%>" class="thumbnail-img" alt="<%=item.nameProduct%>"
                        title="<%=item.nameProduct%>">
                </div>
                <div class="sp-it-footer">
                    <div class="sp-it-ft-name">
                        <h3>
                            <%=item.nameProduct%>
                        </h3>
                    </div>
                    <div class="sp-it-ft-price">
                        <span class="txt-gia-sp">Giá: </span> <span class="thumbnail-gia-sp">
                            <%=item.priceProduct.toLocaleString({ style: 'currency', currency: 'VND' });%> </span>₫
                    </div>
                </div>
            </div>
        </a>
    </div>
    <%})}else{%>
    <span>
        <----- Không có sản phẩm trong mục này ----->
    </span>
    <%}%>

</div>
<div class="box-pagination">
    <div class="pagi_footer">
        <% if (pageCount > 1) { %>
        <ul class="pagination">
            <% if (currentPage > 1) { %>
            <li><a href="?page=1">&laquo;</a></li>
            <% } %>
            <% var i = 1;
                            if (currentPage > 5) {
                                i = +currentPage - 4;
                            } %>
            <% if (i !== 1) { %>
            <li class="disabled"><a href="#">...</a></li>
            <% } %>
            <% for (i; i<=pageCount; i++) { %>
            <% if (currentPage == i) { %>
            <li class="active"><span>
                    <%= i %> <span class="sr-only">(current)</span></span>
            </li>
            <% } else { %>
            <li>
                <a href="?page=<%= i %>">
                    <%= i %>
                </a>
            </li>
            <% } %>
            <% if (i == (+currentPage + 4)) { %>
            <li class="disabled"><a href="#">...</a></li>
            <% break; } %>
            <% } %>
            <% if (currentPage != pageCount) { %>
            <li><a href="?page=<%= pageCount %>">&raquo;</a></li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#box-product-new-home").lightSlider({
            item: 5,
            loop: true,
            keyPress: true,
            auto: true,
            speed: 1500,
            vertical: false,
            pause: 3000,
            pager: false,
        });
    })
</script>